@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: lightcoral;
}

.container {
    width: 70%;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $grey;
}